{
  "sourceMaps": "inline",
  "presets": [
    ["env", {
      "targets": {
        "node": "current"
      }
    }]
  ],
  "plugins": [
    ["module-rewrite", { "replaceFunc": "./build/replace-shared-paths.js" }]
  ]
}
