{
  "sourceMaps": "inline",
  "presets": [
    ["env", {
      "targets": {
        "node": "current"
      }
    }]
  ],
  "env": {
    "production": {
      "plugins": [
        ["module-rewrite", { "replaceFunc": "./build/replace-shared-paths.js" }]
      ]
    }
  }
}
