.queue-item {
  background-color: rgba(255,255,255,0.2);
  margin-bottom: 8px;
  min-height: 111px;

  .item-info {
    height: 50px;
  }

  .pushing-error {
    background-color: darkred;
    padding: 0 16px;

    .md-icon {
      margin-right: 8px;
    }
  }
  .sending-info {
    background-color: rgb(93, 144, 255);
    padding: 0 16px;

    .sent {
      display: none;
    }
    .sending-progress {
      display: flex;
    }

    .md-icon {
      margin-right: 8px;
    }

    .spinner {
      margin-right: 8px;
    }

    .md-progress-spinner {
      &.md-theme-default .md-progress-spinner-circle {
        stroke: white;
      }
    }
  }

  .item-type {
    height: 100%;
    vertical-align: middle;
    padding: 0 8px;
    min-width: 75px;
    font-size: larger;

    &-sub {
      background-color: orange;
    }
    &-cheer {
      background-color: darkcyan;
    }
    &-test {
      background-color: #222;
    }
    &-resub {
      background-color: #900;
    }
    &-subgift {
      background-color: #090;
    }
    &-tweet {
      background-color: #1DA1F2;
    }
    &-crowdcontrol {
      background-color: #cc3;
    }
  }

  .item-channel, .item-twitter-stats {
    height: 100%;
    vertical-align: middle;
    padding: 0 8px;
    min-width: 75px;
    font-size: larger;
  }

  .user {
    font-size: large;
    margin-right: 18px;
    min-width: 200px;
  }

  .decisions {
    padding-right: 8px;
  }

  .decision {
    display: inline-block;
    margin-left: -15px;

    img {
      height: 30px;
      width: 30px;
      border-radius: 50%;
      max-width: none;
    }

    &-approve img {
      box-shadow: 0 0 10px green, 0 0 10px green, 0 0 10px green;
    }

    &-deny img {
      box-shadow: 0 0 10px darkred, 0 0 10px darkred, 0 0 10px darkred;
    }

    &-veto img {
      box-shadow: 0 0 20px darkred, 0 0 20px darkred, 0 0 20px darkred;
      height: 40px;
      width: 40px;
    }

    &-force img {
      box-shadow: 0 0 20px green, 0 0 20px green, 0 0 20px green;
      height: 40px;
      width: 40px;
    }
  }
}

.moderation-queue-leave-to {
  .sending-info {
    background-color: #090;

    .sent {
      display: flex;
    }
    .sending-progress {
      display: none;
    }
  }
}

.md-icon.inline {
  vertical-align: text-bottom;
}

.item-twitter-stats {
  > span {
    margin-right: 4px;
  }

  .favorites, .favorites .md-icon.md-theme-default.md-icon-font {
    color: rgb(224, 36, 94);
  }
  .retweets, .retweets .md-icon.md-theme-default.md-icon-font {
    color: rgb(23, 191, 99);
  }
}
